<div class="list-group w-100" *ngFor="let todo of todos">
    <li class="list-group-item d-flex justify-content-between w-100 m-1">
      <span>
        <input
        type="checkbox"
        (change)="changeTodoStatus(todo)"
        [checked]="todo.isCompleted">
      </span>
      <span [ngClass]="{completedTodo:todo.isCompleted}">
        <p>{{ todo.title | titlecase}}</p>
      </span>
      <span [ngClass]="{completedTodo:todo.isCompleted}">
        <p>{{todo.date | date}}</p>
      </span>
      <span>
       <fa-icon (click)="deleteTodo(todo)" [icon]="faTrashAlt"></fa-icon>
      </span>
    </li>
  </div>

